@import "tailwindcss";
@theme {
  --color-brand-bg-deep: #021217;
  --color-brand-bg-teal: #063842;
  --color-brand-metal: #111111;
  --color-neon-blue: #00f2fe;
  --color-neon-yellow: #ffbf00;
  --background-image-radial-nebula: radial-gradient(circle at center, #063842, #021217);
}

body {
  background-image: var(--background-image-radial-nebula);
  min-height: 100vh;
  color: white;
  cursor: default;
}